body{
   margin: 0; 
   padding: 0;
   background-image: linear-gradient( to  right, rgb(8, 8, 48),rgba(205, 200, 252, 0.884) ,rgb(58, 58, 233));
   min-height: 635px;
   
   display: flex;
   flex-wrap: wrap;

}
*{
    border-radius: 15px;
}
img{
    width:250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: -35px;
    
    left:63px;
    
    transition:all 0.5s;
    
}
section:hover img{
    top: -120px;
    border-radius: 50%;
    transform: rotate(720deg);
    box-shadow: 0 0 20px 2px rgb(2, 2, 2);
}
/* img:hover{
    
        top: -120px;
        border-radius: 50%;
        transform: rotate(720deg);
        box-shadow: 0 0 20px 2px rgb(2, 2, 2);
} */
section{
    background-color: rgb(255, 254, 254);
    /* background-image: linear-gradient(rgb(92, 92, 216) ,rgb(223, 104, 104),rgb(221, 221, 96)); */
    width: 370px;
    height: 290px;
    margin: 200px auto 0 auto;
    position: relative;
    transition: all 0.5s;
    box-shadow: 0 0 20px 2px rgb(2, 2, 2);
}
section:hover{
    height: 380px;
    box-shadow: 0px 0px 150px 10px blue inset;
}
section:hover div{
    opacity: 1;
}
div{
    
    /* border: crimson 2px solid; */
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
}